/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";

$brand-primary: #243D64;
$highlight-color: #D1E8FF;

@import "bootstrap";

@import "rails_bootstrap_forms";
@import "selectize.bootstrap3";
@import "devise";
@import "navbar";
@import "search";
@import "user/items";
@import "user/messages";
@import "users";
@import "items";
@import "messages";
@import "footer";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 170px;
}

a {
  color: #337ab7;

  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}

.btn:focus,.btn:active {
   outline: none !important;
}
