footer {
  background-color: #243D64;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 30px 20px;

  #logo {
    text-align: center;
    margin-top: 5px;
    img {
      height: 25px;
    }
  }

  #link-icons {
    display: table;
    margin: 0 auto;

    a {
      display: inline-block;

      + a {
        margin-left: 30px;
      }

      .icon {
        color: white;
        font-size: 30px;
      }

      #discord-svg {
        position: relative;
        top: -6px;
        left: -5px;
        height: 40px;
      }
    }
  }
}
