footer {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 30px 20px;

  a {
    display: block;
    text-align: center;
    .icon {
      color: #333333;
      font-size: 40px;
    }
  }
}
