#items-header {
  margin-bottom: 25px;
}

.item-tile {
  margin-top: 5px;

  .image-container {
    margin-top: 10px;
    max-height: 128px;
    max-width: 128px;
  }

  .item-name {
    margin-top: 5px;
  }
}
