#message_body {
  height: 75px;
}

#message-form-errors {
  display: none;
}

#email-notification-row {
  margin-bottom: 10px;

  .loading-button {
    display: none;
  }

  button.loading {
    .clickable-button {
      display: none;
    }
    .loading-button {
      display: block;
    }
  }

}
