.navbar.navbar-default {
  .navbar-header {
    background-color: $brand-primary;
  }

  $muted-blue: #415770;

  .navbar-toggle {
    border-color: $muted-blue;

    .icon-bar {
      background-color: white;
    }

    &:hover, &:focus {
      background-color: $muted-blue;
    }
  }

  @media(min-width: $screen-sm-min) {
    background-color: $brand-primary;

    .active, .open {
      > a {
        background-color: $muted-blue;
        color: $highlight-color;

        &:hover, &:focus {
          background-color: $muted-blue;
          color: $highlight-color;
        }
      }
    }

    .dropdown-menu > .active, .dropdown-menu > .open {
      > a {
        background-color: #f5f5f5;

        &:hover {
          color: #333333;
        }
      }
    }

    li a {
      color: white;

      &:hover {
        color: $highlight-color;
      }
    }

    .dropdown-menu {

      li a {
        color: #333333;
      }
    }
  }
}

a.navbar-brand {
  img {
    height: 25px;
    margin-top: -2px;
  }
}
