#search-submit-button {
  width: 100%;
}

.user-platform-link {
  i {
    color: #333333;
  }
}

#platform-user-header {
  margin-bottom: 20px;
}

#list-radio-container {
  @media (min-width: $screen-sm-min) {
    float: right;
  }
}

#popover-inventory-btn {
  margin-left: 5px;
}
