#search-submit-button {
  width: 100%;
}

.user-platform-link {
  i {
    color: #333333;
  }
}

#platform-user-header {
  margin-bottom: 20px;
}

#list-radio-container {
  @media (min-width: $screen-sm-min) {
    float: right;
  }
}

#popover-inventory-btn {
  margin-left: 5px;
}

#advanced-search-toggle {
  margin-bottom: 5px;
  cursor: pointer;
}

#advanced-search-panel {
  margin-top: 5px;
  display: none;
  padding-top: 15px;
  background-color: #f9f9f9;
}

#search-submit-button {
  margin-top: 15px;
}
