#contact-buttons {
  margin-bottom: 10px;

  @media (min-width: 360px) {
    .message-button {
      margin-right: 10px;
    }

    a + a {
      margin-left: 10px;
    }
  }

  @media (max-width: 360px) {
    .message-button {
      width: 100%;
    }
    
    .message-button, a {
      display: block;
      margin-top: 5px;
    }
  }
}
