table#user-messages {
  table-layout: fixed;
  min-width: 500px;

  td.truncatable {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .message-sender {
    width: 150px;
  }

  .message-time-ago {
    width: 140px;
  }
}

.message-delete-cell {
  width: 75px;
  text-align: right;

  .glyphicon {
    color: #d44950;
  }
}
