table#user-messages {
  white-space: nowrap;
  width: 100%;
  table-layout: fixed;
}

td.message-preview {
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-delete-cell {
  width: 75px;
  text-align: right;
}
